 
    
 <nav class="navi"  >


<!-- list -->
<ul class="nav nav-menu">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span  >Navigation</span>
  </li>
  <li>
  		 <div class="dropdown ">
  		<a class="dropbtn" routerLinkActive="active" routerLink="/home">

	      
	      <span class="font-bold" >Home</span>
	      
  		</a>
  		</div>
  	 
  </li>
  
    <li>
     <div class="dropdown ">
  		<a class="dropbtn" routerLinkActive="active" routerLink="/projects/dashboard">

	      
	      <span class="font-bold" >Dashboard</span>
	      
  		</a>
  		</div>
  	 
  </li>
      <li>
     <div class="dropdown ">
  		<a class="dropbtn" routerLinkActive="active" routerLink="/articles">

	      
	      <span class="font-bold" >Articles</span>
	      
  		</a>
  		</div>
  	 
  </li>

    <li>
  	
  	 <div class="dropdown ">
	  	<a class="dropbtn " >

	   
	      
	      <span class="font-bold" >Previews</span>
	       

	  </a>
	  <div class="dropdown-content">
	     <a routerLinkActive="active" routerLink="/agenda">Agenda</a>
       <a routerLinkActive="active" routerLink="/layout">Layout</a>
	  </div>
</div>
  </li>
   <!--

      <li>
     <div class="dropdown ">
  		<a class="dropbtn" routerLinkActive="active" routerLink="/agenda">

	      
	      <span class="font-bold" >Agenda</span>
	      
  		</a>
  		</div>
  	 
  </li>

        <li>
     <div class="dropdown ">
  		<a class="dropbtn" routerLinkActive="active" routerLink="/preview">

	      
	      <span class="font-bold" >Preview</span>
	      
  		</a>
  		</div>
  	 
  </li>
    
 
  <li>
  	
  	 <div class="dropdown ">
	  	<button class="dropbtn ">

	   
	      
	      <span class="font-bold" >Tools</span>
	      <i class="fa fa-fw fa-angle-down "></i>

	  </button>
	  <div class="dropdown-content">
	     <a routerLinkActive="active" routerLink="/articles">Articles</a>
       <a routerLinkActive="active" routerLink="/categories">Categories</a>
	  </div>
</div>
  </li>
 
    <li>
  	
  	 <div class="dropdown ">
		  	<button class="dropbtn">

		   
		      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
		      <span class="font-bold" >Labs</span>
		       
		  </button>
		  <div class="dropdown-content">
		  <a routerLinkActive="active" routerLink="/labs/projects">Projects</a> 
		      

		     
		  </div>
	</div>
  </li> 

   <li>
  	
  	 <div class="dropdown ">
		  	<button class="dropbtn">

		   
		      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
		      <span class="font-bold" >Labo</span>
		      <i class="fa fa-fw fa-angle-down "></i>

		  </button>
		  <div class="dropdown-content">
		     <a routerLinkActive="active" routerLink="/relay/office/countries">Countries</a> 
		     <a routerLinkActive="active" routerLink="/relay/office/forms">Forms</a> 
		     <a routerLinkActive="active" routerLink="/relay/office/accounting">Accounting</a> 
 

		     
		  </div>
	</div>
  </li> 

 -->
  </ul>

</nav>
 